.cover__subtitle {
  width: 360px;
  min-height: 66px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  margin: 32px auto 0;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin: 16px auto 0;
    width: 288px;
    height: 48px;
  }
}
