.header {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* при недостаточности высоты для соответствия с макетом можно добавить соответствующие padding-и */
