.lead_position {
  margin: 56px auto 92px;
}


@media screen and (max-width: 1279px) {
  .lead_position {
    margin: 45px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .lead_position {
    margin: 48px auto 0;
  }
}



/* на 768px, 1024px значение 45px не соответствует макету, необходимо скорректировать */
