.lead_position {
  margin: 56px auto 92px;
}


@media screen and (max-width: 1279px) {
  .lead_position {
    margin-top: 45px;
  }
}

@media screen and (max-width: 1023px) {
  .lead_position {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead_position {
    margin-top: 48px;
    margin-bottom: 64px;

  }
}



/* на 768px, 1024px значение 45px не соответствует макету, необходимо скорректировать */
