.intro {
  width: 689px;
  min-height: 429px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
  }
}

@media screen and (max-width: 680px) {
  .intro {
    padding-left: 16px;
    width: 90%;
  }
}
