.intro {
  width: 100%;
  max-width: 689px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
  }
}

@media screen and (max-width: 680px) {
  .intro {
    width: 90%;
  }
}
