.root {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
  padding: 28px 0 134px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .root {
    padding: 16px 0 134px;
  }
}
