@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../vendor/Inter-Regular.woff2) format("woff2"),
       url(../../vendor/Inter-Regular.woff) format("woff");
}


.root {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
  padding: 28px 48px 134px;
}
