.lead__subtitle {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 1.2;
text-align: center;
margin: 32px 0 64px;
}

@media screen and (max-width: 730px) {
  .lead__subtitle {
    /* font-size: 10vw;
    line-height: 1.1; */
    font-size: 25px;
  }
}

@media screen and (max-width: 550px) {
  .lead__subtitle {
    font-size: 20px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 410px) {
  .lead__subtitle {
    font-size: 16px;
  }
}
