.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 152px 1fr;
  grid-template-areas:
  "title website"
  "image paragraph";
  border: 1px solid white;
  gap: 48px 40px;

}
