.places__position {
  margin: 78px auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1023px) {
  .places__position {
    margin: 67px auto;
    gap: 75px;
  }
}

@media screen and (max-width: 767px) {
  .places__position {
    margin: 62px auto;
    gap: 48px;
  }
}
