.header__lang-links {
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 78px;
  justify-content: space-between;
  padding-right: 48px;
  padding-bottom: 7px;
}

@media screen and (max-width: 768px) {
  .header__lang-links {
    padding-right: 24px;
  }
}

@media screen and (max-width: 350px) {
  .header__lang-links {
    padding-right: 16px;
    max-width: 62px;
  }
}
